<div class="container">
    <div class="help panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Challenge 5: Scrapoxy
            </div>
        </div>
        <div class="panel-body">
            <div class="help-title">Instructions</div>

            <div class="help-content">
                Each page has a few persons (like in the pagination challenge).
                But you cannot retrieve all pages from one IP.
            </div>

            <div class="help-content">
                    Try a proxy to bypass the IP restriction.
            </div>

            <div class="help-content">
                Use <a href="http://scrapoxy.io" target="_blank">Scrapoxy</a>
                on <a href="https://aws.amazon.com" target="_blank">AWS</a> (<code>eu-west-1</code> region) with 2 instances!
                (see <a href="http://docs.scrapoxy.io/en/master/quick_start/index.html" target="_blank">Quick Start</a>).
            </div>

            <div class="help-title">Start</div>

            <div class="help-code">
                git checkout scrapoxy
            </div>

            <div class="help-title">Soluce</div>

            <div class="help-code">
                git checkout scrapoxy-soluce
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <h1>HTTP/503. Forget me, scraper. </h1>

        <h2>IP {{ip}} is banned for a few minutes!</h2>
    </div>
</div>
