<div class="container">
    <div class="help panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Challenge 0: Find the Export Button
            </div>
        </div>
        <div class="panel-body">
            <div class="help-title">Goal</div>

            <div class="help-content">
                Soluce is often simple. Here we have the CSV Export ! (no scraper needed).
            </div>
        </div>
    </div>

    <a href="/csv/export" class="btn btn-primary" target="_blank">Export all profiles</a>
</div>
