<div class="container">
    <div class="help panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Challenge 0: CSV
            </div>
        </div>
        <div class="panel-body">
            <div class="help-title">Instructions</div>

            <div class="help-content">
                Soluce is often simple. Find the CSV export ! (no scraper needed).
            </div>
        </div>
    </div>

    <a href="/csv/export" class="btn btn-primary" target="_blank">Export all profiles</a>
</div>
