<div class="container">
    <div class="jumbotron">
        <h1>Hello, Mr and Mrs Scraper!</h1>

        <p>
            Welcome on the Scraping Challenge.
        </p>

        <p>
            <a class="btn btn-primary btn-lg" href="/ch1" role="button">Start with the first challenge</a>
        </p>
    </div>

    <div class="list-challenges">
        <ul>
            <li>Challenge 0: Find the Export Button</li>
            <li>Challenge 1: All in One Page</li>
            <li>Challenge 2: Split on Multiple Pages</li>
            <li>Challenge 3: Bypass User Agent Filter</li>
            <li>Challenge 4: Bypass the Login Form</li>
            <li>Challenge 5: Schedule with ScrapingHub</li>
            <li>Challenge 6: Bypass IP Filter with Scrapoxy</li>
            <li>Challenge 7: Bypass Strong Protection with Scrapoxy</li>
        </ul>
    </div>
</div>
