<div class="container">
    <div class="help panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Challenge 3: User agent
            </div>
        </div>
        <div class="panel-body">
            <div class="help-title">Instructions</div>

            <div class="help-content">
                Pages are restricted to Chrome. Try with Chrome AND Firefox. And change the user agent.
            </div>

            <div class="help-title">Start</div>

            <div class="help-code">
                git checkout useragent
            </div>

            <div class="help-title">Soluce</div>

            <div class="help-code">
                git checkout useragent-soluce
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <h1>HTTP/503. Forget me, scraper. </h1>

        <h2>Only Chrome is allowed!</h2>
    </div>
</div>
